<ion-view view-title="О проекте">
    <ion-tabs class="tabs-striped tabs-background-primary tabs-color-light">
        <ion-tab title="Контакты" href="#{{ROUTES.APP}}{{ROUTES.INFO}}{{ROUTES.CONTACTS}}">
            <ion-nav-view name="contacts"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Описание" href="#{{ROUTES.APP}}{{ROUTES.INFO}}{{ROUTES.PROJECTDESCRIPTION}}">
            <ion-nav-view name="project_description"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    <ion-content>
    </ion-content>
</ion-view>
