<ion-view view-title="Бесплатный курс">
    <ion-content class="info-project" overflow-scroll="true">
        <ion-scroll zooming="true" direction="xy" scrollbar-x="true" scrollbar-y="true">
            <div class="sub-header">
                <h4 class="sub-header-title">{{descriptionLesson.name}}</h4>
            </div>
            <div class="description-wrapper">
                <p ng-bind-html="descriptionLesson.description" ></p>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
