<ion-view view-title="Тендеры для чайников">
    <ion-content class="padding">
        <div class="row lesson-wrapper">
            <div class="col" ng-click="goToFreeLessons();">
                <img src="img/main_view.jpg" width="100%">
                <div class="lesson-block">
                    <img src="img/1 (3).png" width="13%" class="lesson-icon-align">
                    <span class="lesson-title">10 УРОКОВ</span>
                    <i class="ion-chevron-right lesson-chevron"></i>
                </div>
            </div>
        </div>
        <ul class="list padding">
            <li class="item main-list main-faq" ng-click="goToFaq()">
                <span class="section">ВОПРОС - ОТВЕТ</span>
                <i class="ion-chevron-right an-qu-list"></i>
            </li>
            <li class="item main-list main-video" ng-click="goToVideoLessons()">
                <span class="section">ВИДЕО - УРОКИ</span>
                <i class="ion-chevron-right an-qu-list"></i>
            </li>
            <li class="item main-list main-special" ng-click="goToSpecialLessons()">
                <span class="section">СПЕЦ - УРОКИ</span>
                <i class="ion-chevron-right an-qu-list"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>
